.advantage{
    padding-bottom: 60px;
    padding-top: 60px;
    
    @media screen and (min-width: $desktop){
        padding-bottom: 94px;
        padding-top: 94px;
    }
}

.advantage__list{
    @extend %list;
    @media screen and (min-width: $tablet){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (min-width: $desktop){
        flex-wrap: nowrap;
    }
}
}

.advantage__item{

    @media screen and (min-width: $tablet){
        margin-right: 30px;
        margin-bottom: 30px;
        width: calc((100% - 30px) / 2);
        &:nth-child(2n+0){
            margin-right: 0;
        }

        &:nth-last-child(-n+2){
            margin-bottom: 0;
        }
    }   

    @media screen and (min-width: $desktop){
        width: calc((100% - 30px*3) / 4);
        margin-bottom: 0px;
        margin-left: 0px;
        
        &:not(:last-child){
            margin-right: 30px;
        }
        
    }
}

.advantage__item:not(:last-child){
    @media screen and (max-width: 767px){
    margin-bottom: 30px;
    }
}

.advantage__title{
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $secondary-text-color;
    margin-bottom: 10px;
    
    text-align: center;

    @media screen and (min-width: $tablet){
    text-align: left;
    }
}

.advantage__text{
    font-size: 14px;
    line-height: 1.71;
    color: $main-text-color;
}

.advantage__icon{
    background-color: $background-color-light;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    margin-bottom: 30px;
}