.example{
    padding-bottom: 94px;

    @media (max-width: 1199px) {
        display: none;
    }
}
.example__title{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: $secondary-text-color;
    margin-bottom: 50px;
}

.example__item:not(:last-child){
    margin-right: 30px;
}

.example__list{
    @extend %list;
    display: flex;
}

.example__item{
    position: relative;
    z-index: -1;
}

.example__work-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.example__work-type{
    position: absolute;
    bottom: 0;

    background-color: rgba(47, 48, 58, 0.8);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 370px;
    height: 70px;
}