footer{
    background-color: $background-color-dark;
}

.footer-main{
    padding-top: 60px;
    padding-bottom: 60px;
} 

.footer__list{
    @extend %list;

    @media screen and(min-width: $tablet) and(max-width: 1199px) {
        margin-right: 165px;
    }
}

.footer__item{
    &:not(:last-child){
        margin-bottom: 8px;
    };

    &:first-child{
        margin-bottom: 20px;
    }

    &:last-child{
        margin-bottom: 60px;
    }

    @media screen and(max-width: 1199px){
        text-align: center;
    }   

    @media screen and(min-width: $tablet) {
        &:last-child{
            margin-bottom: 0px;
        }
    }

    @media screen and(min-width: $desktop) {
        &:nth-child(n + 3){
            margin-top: 9px;
        }
    }
}

.footer{
    @media screen and(min-width: $desktop) {
    display: flex;
    }
}

.footer__main{
    @media screen and(min-width: $tablet) {
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
    } 
    @media screen and(min-width: $desktop) {
        margin-bottom: 0px;
    }
}

.footer__contacts{
    @extend %link;
    
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    
    transition: color  $transition-duration $transition-timing-function;

    &:hover,
    &:focus{
    color: $text-color-hover; 
    }
}

.footer__address{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
}

.footer-social{
    padding-top: 5px;

    @media screen and(min-width: $desktop) {
        padding-top: 12px;
        width: 206px;
        margin-left: 70px;
    }
}

.follow-form__title {
    display: block;
}

.footer-social__title,
.follow-form__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;

    @media screen and(max-width: 1199px){
        text-align: center;
    }
}

.footer-social__title{
    margin-bottom: 20px;

}

.footer-social__list{
    @extend %list;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;

    @media screen and(min-width: $tablet) {
        margin-bottom: 0px;
    }
}

.footer-social__network{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1); 
    
    transition: background-color  $transition-duration $transition-timing-function;
    
    &:hover,
    &:focus{
    background-color: $background-color-accent;
    }
}

.footer-social__icon{
    fill: $text-color-button;
}

.follow-form {
    @media screen and(min-width: $tablet) {
        margin-left: auto;
        margin-right: auto;
    }
    
    @media screen and(min-width: $desktop) {
        display: inline-block;
        padding-top: 12px;
        margin-right: 0px;
    }
}

.follow-form__item{
    margin-top: 20px;
    
    @media screen and(min-width: $tablet) {
        text-align: center;
    }

    @media screen and(min-width: $desktop) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.follow-form__input{
    width: 100%;
    height: 50px;
    padding-left: 16px;

    background-color: rgba(47, 48, 58, 1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);

    @media screen and(min-width: $tablet) {
        width: 450px;
    }

    @media screen and(min-width: $desktop) {
        width: 358px;
        margin-right: 12px;
        padding-left: 16px;
    }
}

.follow-form__button{
    
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;

    width: 200px;
    height: 50px;
    background-color: $background-color-accent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-width: 0px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88px;
    letter-spacing: 0.06em;
    color: $text-color-button;

    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and(min-width: $desktop) {
        margin-top: 0px;
    }
}

.follow-form__icon{
    fill: #FFFFFF;
    margin-left: 10px;
}