body {
    margin: 0px;
    font-family: 'Roboto', Tahoma, Verdana, sans-serif;
    background-color: #FFFFFF;
    color: $main-text-color;
    letter-spacing: 0.03em;
}

body.modal-open{
    overflow: hidden;
}

.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width:$mobile){
        width: 480px;
    }

    @media screen and (min-width: $tablet) {
        width: 768px;
    }

    @media screen and (min-width: $desktop) {
         width: 1200px;
    }
}

p,
h1,
h2,
h3 {
    margin: 0px;
    padding: 0px;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowarp;
    clip-path: insert(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
