    $main-text-color: #757575;
    $secondary-text-color: #212121;
    $text-color-hover: #2196F3;
    $text-color-button: #FFFFFF;

    $background-color-accent: #2196F3;
    $background-color-light: #F5F4FA;
    $background-color-dark: #2F303A; 

    $transition-duration: 250ms;
    $transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);